.add-btn {
  background-color: #a829c3;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  padding: 4px 8px;
  border: 0px;
  width: 25px;
  outline: none;
  cursor: pointer;
  margin: 0 10px;
  box-shadow: 5px 5px 5px #c9c9c9;
  &:active {
    box-shadow: 5px 5px 5px #fff;;
  }
}
